.container {
	margin: 5rem 0;

	color: var(--text-primary);
}

.container > h2 {
	margin-bottom: 3rem;

	font-family: var(--font-primary);
	font-size: clamp(1.75rem, 3vw, 4.5rem);
	font-weight: 500;
	text-align: center;
}

.container > form {
	padding: 0 1rem;

	display: flex;
	flex-direction: column;

	font-family: var(--font-primary);
	font-size: clamp(1.2rem, 1.25vw, 3rem);
	line-height: 1.6;
}

.container > form > label {
	margin-bottom: 0.25rem;
}

.container > form > input,
.container > form > textarea {
	padding: 0.5rem;
	min-height: 3rem;

	font-family: var(--font-primary);
	font-size: clamp(1.2rem, 1.25vw, 3rem);
}

.container > form > label:not(:first-of-type) {
	margin-top: 1.5rem;
}

.container > form > textarea {
	max-width: 100%;
}

.container > form > input[id="message"]::placeholder {
	vertical-align: text-top;
}

.container > form > div {
	color: var(--text-accent);
	font-size: clamp(0.9rem, 1vw, 2rem);
}

.container > form > button {
	margin-top: 3rem;
	padding: 0.5em;
	width: 50%;
	max-width: 350px;

	background-color: var(--bg-color);
	color: var(--text-accent);

	border: 2px solid var(--text-accent);
	border-radius: 50px;
	outline-offset: 10px;

	font-family: var(--font-primary);
	font-size: clamp(1.2rem, 1.5vw, 3rem);
}

@media only screen and (min-width: 768px) {
	.container > form {
		padding: 0 10rem;
		max-width: 90ch;
		margin: 0 auto;
	}

	.container > form > label:not(:first-of-type) {
		margin-top: 2rem;
	}
}
