.main {
    /* 11em is the header's height and this element's padding */
    margin-top: 11em;
    padding: 0 3em;
    /* 12 rem is the header's height */
    min-height: calc(100vh - 12rem);

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 85% 15%;
    align-items: center;
    justify-items: center;
}

.main p {
    font-family: var(--font-primary);
    line-height: 1.5;
}

.normalText {
    font-size: clamp(1.25rem, 1.5vw, 3rem);
}

.main > section > div {
    width: fit-content;
}

.main > section > div > p::after {
    display: inline-block;
    content: attr(data-after);
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #222;
    padding-right: .25em;
    white-space: nowrap;

    animation: 
        typing 4.25s steps(40, end) infinite,
        blinkCaret 1s step-end infinite;
}

@keyframes typing {
    0% { width: 6ch; }
    25% { width: 100%; }
    75% {width: 100%;}
    100% {width: 6ch;}
}

@keyframes blinkCaret {
    from, to {border-color: transparent}
    50% {border-color: #222;}
}

.bigText {
    font-size: clamp(1.75rem, 2.5vw, 4rem);
}

.main img {
    max-width: clamp(20rem, 35vw, 45vw);
}

.main a {
    grid-column: 1/3;
    width: 3%;

    font-family: var(--font-accent);
    font-size: clamp(2rem, 2.5vw, 5rem);
    text-align: center;
    align-self: flex-end;

    transform: rotateZ(-270deg);
    cursor: pointer;

    border: none;
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 0 1em;
        min-height: calc(100vh - 11rem);

        grid-template-columns: 100% 0;
        grid-template-rows: repeat(2, auto) auto;
    }

    .main section {
        align-self: flex-end;
        margin-bottom: 1em;
    }

    .main img {
        grid-row: 2/3;
    }

    .main a {
        grid-row: 3/4;
    }
}