.card {
    padding: .5em;

    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 10px;
}

.line {
    height: 3px;
    width: calc(100% + 1em);
    margin-left: -.5em;

    background-color: black;
}

.card img {
    max-width: 100%;
}

.card p {
    font-family: var(--font-primary);
    font-size: clamp(1.2rem, 1.25vw, 3rem);
    line-height: 1.5;
}

.card p::before {
    display: block;
    content: attr(data-before);

    font-size: clamp(1.75rem, 2vw, 3rem);
}