.container {
    padding: 2em 0;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
}

.container > h2 {
    font-family: var(--font-accent);
    font-size: clamp(1.25rem, 2vw, 4rem);
    font-weight: 500;

    position: relative;
}

.container > h2::before, 
.container > h2::after {
    content: "";
    display: inline-block;

    position: absolute;
    top: 50%;

    width: 20%;
    height: 2px;

    background-color: #222;
}

.container > h2::before {
    left: -3.25em;
}

.container > h2::after {
    right: -3.25em;
}

.container > h2 > a {
    text-decoration: underline;
    text-underline-offset: 0.05em;
}