.container {
    margin: 20rem 0 4rem 0;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container img {
    width: 60vw;
    height: 60vw;
    min-height: 200px;
    max-height: 450px;
    max-width: 450px;
    object-fit: cover;

    border-radius: 0.5rem;
}

.textContainer {
    margin-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: var(--font-primary);
    line-height: 1.6;
}

.textContainer h2 {
    font-size: clamp(1.75rem, 3vw, 4.5rem);
    font-weight: 500;
}

.textContainer h3 {
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}

.textContainer h4 {
    font-size: clamp(1.15rem, 1.25vw, 3rem);

}

.textContainer p {
    font-size: clamp(1.2rem, 1.25vw, 3rem);
}

.variableText p:first-of-type {
    margin-bottom: 1rem;
}

.headers {
    margin: 3rem 0 1rem 0;

    display: flex;
    justify-content: space-between;
    /* 17vw for bigger screens */
    width: max(22ch, 17vw);

    font-family: var(--font-accent);
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}