.article {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1em;

    background-color: var(--bg-color);
}

.article > h3 {
    font-family: var(--font-accent);
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 500;
    text-transform: capitalize;

    padding-top: 2.5em;
    margin-bottom: 0.5em;
    color: var(--text-primary);
}

.article > h3::before {
    content: "#";
    color: var(--text-primary);
}

.article li {
    margin-left: 2em;
    margin-bottom: 0.5em;
    list-style: disc;

    font-family: var(--font-primary);
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    color: var(--text-primary);
    line-height: 1.6;

    text-decoration: 2px underline;
    text-underline-offset: 0.05em;
    text-transform: capitalize;
}
